<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  <title>Jubiku</title>

  <%= jsTag 'js/jubiku' %>
  <link rel="stylesheet" href="stylesheets/test.css">

  <script type='text/javascript'>
      window.onload = function() {
          var request = new XMLHttpRequest();
          request.responseType = 'json';
          request.addEventListener('load', function() {
              jubiku = new Jubiku(
                  document.getElementById('jubikuCanvas'),
                  this.response.squares,
                  this.response.rowHints,
                  this.response.columnHints,
                  this.response.internalNumbers
              );
          });
          request.open('GET', 'json/test1.json');
          request.send();
      }
  </script>
</head>

<body>
  <canvas id='jubikuCanvas' width='800' height='800'></canvas>
</body>

</html>
